.name {
font-size: initial0px;
color: antiquewhite;
text-indent: 15px;
margin: 40px 25px 40px 50px;
}

.responsive {
  width: 75%;
  height: auto;
}

.img {
}

 .flex-table {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      /* Rows & cells */
      div.th, div.td {
        box-sizing: border-box;
        width: 33.3%;
        padding: 10px;
      }
      div.th {
        font-weight: bold;
      }
      .cell1 {
        background: #ffe4d1;
      }
      .cell2 {
        background: #f1ffd1;
      }
      .cell3 {
        background: #d1ffe6;
      }


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

