.name {
    font-size: initial0px;
    color: antiquewhite;
    text-indent: 15px;
    margin: 40px 25px 40px 50px;
    padding: 0px;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin:inherit;
    padding-left: 50px;
}

.responsive {
    height: auto;
    display: block;
}

#floormap {
    width: 1300px;
    height: auto;
    display: block;
    padding-left: 50px;
    padding-bottom: 50px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//clock
    @font-face {
    font-family: 'DIGITAL';
    src: url('https://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

.digital-clock {
    margin: auto;
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 25px;
    color: #ffffff;
    border: 2px solid #999;
    border-radius: 20px;
    text-align: center;
    font: 20px/30px 'DIGITAL', Helvetica;
    background: linear-gradient(90deg, #34495e, #555);
}