
#dimmableBulb {
    opacity: 0.5;
    width: 80px;
}

:root {
  --exp:1;
}

#imageDimmer {
    opacity: var(--exp);
}

#imageDimmer {
    width: 500x;
    height: 500x;
    border: 3px solid white;
    }

.slider {
    width: 20%;
    height: 15px;
    -webkit-appearance: none;
    background: #00cc66;
    box-shadow: inset 0 8px 18px rgba(0,0,0,0.7);
    -webkit-transition: 0.2;
    transition: opacity 0.2;
    opacity: 0.7;
    outline: none;
    border-radius: 25px;
    transform: rotate(270deg);
 }

 .slider:hover {
   opacity: 1;
 }

 .slider::-webkit-slider-thumb {
    -webkit-appearance: 0;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
 }